# Dependencies
node_modules/

# Build files
dist/
out/
Documents/
circuit_diagrams/
index copy.html
hydro_test.py

# Operating system specific
.DS_Store
Thumbs.db

# Sensitive data
.env
config.js
Notizen.docx

